body {
background-image:url(Bigpic.jpg);
background-position: top left;
background-repeat: no-repeat, no-repeat;
 background-size: cover;
}

div.limit {
  float: left;
  margin:.5%;
  margin-left: 3%;
 
  width:375px;
  background-color:rgb(41, 84, 99);
  padding: 25px 25px;
  font-size: 100%;
  opacity: .9;
  color:azure;
  border-radius: 12px;
}
div.limit1 {
  float: left;
  margin:.5%;
  border: solid rgb(205, 203, 231) 3px;
  width:250px;
  background-color:rgb(41, 84, 99);
  padding: 25px 25px;
  font-size: 125%;
  opacity: .95;
  color:rgb(255, 255, 255);
  border-radius: 12px;
}

div.limit2 {
  margin:.5%;
  border-radius: 12px;
  text-decoration: none;
  background-position: bottom;
}
div.r144 {
    font-size:150%;
}
div.r1441 {
    font-size:140%;
    color:rgba(247, 247, 247, 0.863);
    background-color:rgba(0, 97, 114, 0.829);
    width: 17%;
    opacity: 80;
    border-radius: 4px;
}

div.r14411 {
    font-size:140%;
    color:rgba(255, 255, 255, 0.863);
    background-color:rgba(7, 73, 173, 0.829);
    width: 17%;
    opacity: 80;
    border-radius: 4px;
}

div.r14412 {
    font-size:140%;
    color:rgba(255, 255, 255, 0.863);
    background-color:rgba(7, 73, 173, 0.829);
    width: 10%;
    opacity: 80;
    border-radius: 4px;
 
  
}


div.itt4 {
         color:rgba(255, 255, 255, 0.863);
         background-color:rgba(0, 126, 148, 0.829);
         font-size:140%;
        float: left;
        margin-left: 5%;
        opacity: 80;
        border-radius: 10px;
      
}

div.n14 {
         color:rgb(255, 255, 255);
         background-color:rgba(0, 17, 175, 0.753);
         font-size:140%;
        float: left;
        margin-left: 10%;
        opacity: 80;
        border-radius: 10px;
   

}




h1 {
  Color:rgb(0, 159, 187);
  }
div.center {
  text-align:center;
}

 .menu1 {
      padding: 25px;
      border: rgb(18, 58, 95) 10px solid;
      border-radius: 12px;
      opacity: .95;
    }
    .menu1 > a{
    font-size: 125%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #54c7d6;
    padding:12px 24px;
    margin-right: 10px;
    border-radius: 4px;
    text-decoration:none;
    color: hsl(160, 28%, 31%);
    opacity: .65;
    transition: background-color 0.3s linear 0s; color 0.3s linear 0s;
    }
    a:hover{
      background-color: #5eaadd;
      color:white;
      opacity: .85;
    }

    mark { 
  background-color: yellow;
  color: black;
}
div.thh {
        margin-left: 6.25%;
}
div.th7 {
        margin-left: 48%;
        background-color: #006868;
        color:rgb(255, 255, 255);
        opacity: .85;
}

div.th8 {
        margin-left: 47%;
        background-color: #001055;
        color:rgb(255, 255, 255);
        opacity: .85;

}

#inv_1 {
  display: hidden;
}